<%= image_tag 'dubillot.jpg', class:'banner' %>
<a href="javascript:" id="top"><i class="fas fa-chevron-up"></i></a>
<div class="container">
  <div class="header">
    <%= link_to '/' do %>
      <%= image_tag 'NG_LOGO_typo02.png', class:'logo' %>
    <% end %>
  </div>
    <div class="contact-form">
    <h2>Soumettre une phrase à traduire</h2>
    <p>Ne vous inquiétez pas si vous ne voyez pas la traduction tout de suite. Je ne suis pas un magicien, je ne peux pas traduire les choses automatiquement. Le site sera mis à jour chaque semaine, alors en attendant, apprenez les autres phrases de la page.</p>
    <%= simple_form_for @contact do |f| %>
      <% if flash[:error].present? %>
        <p> Please correctly complete the fields below</p>
      <% end %>
      <div class="form-row">
        <div class="col">
          <%= f.input :name, label:"Nom", error: 'Name is mandatory, please specify one', required: true, class:"form-control"%> <br>
        </div>
        <div class="col">
          <%= f.input :email, label:'Email', required: true, class:"form-control"%> <br>
        </div>
      </div>
      <div class="form-row">
        <div class="col">
          <%= f.input :type, collection:["Greeting", "Once Seated", "Drinks", "Menu", "Once Served","Small Talk", "Payment"], label:'Sous quelle catégorie?', error: 'Please select an option from the list', required: true%> <br>
        </div>
      </div>
      <div class="form-text">
        <%= f.label 'Saisissez la/les phrases que vous souhaitez traduire', required: true %>
        <%= f.text_area(:message, rows: 3, class:"form-control")%> <br>
      </div>
      <div class="send-button">
      <%= button_tag(type: 'submit', class: "suggest-btn-send") do %>
        <p>Soumettre Phrase</p>
      <% end %>
      </div>
    <% end %>
  </div>
</div>
